<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>certification</display-name>
 <servlet>
 <servlet-name>InscriptionServlet</servlet-name>
 <servlet-class>sn.lamp.servlet.InscriptionServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>InscriptionServlet</servlet-name>
 <url-pattern>/register</url-pattern>
 </servlet-mapping>
  <servlet>
 <servlet-name>accueilServlet</servlet-name>
 <servlet-class>sn.lamp.servlet.accueilServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>accueilServlet</servlet-name>
 <url-pattern>/</url-pattern>
 </servlet-mapping>
 
  <servlet>
 <servlet-name>LoginServlet</servlet-name>
 <servlet-class>sn.lamp.servlet.LoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>LoginServlet</servlet-name>
 <url-pattern>/login</url-pattern>
 </servlet-mapping>
 
   <servlet>
 <servlet-name>AdminServlet</servlet-name>
 <servlet-class>sn.lamp.servlet.AdminServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>AdminServlet</servlet-name>
 <url-pattern>/admin</url-pattern>
 </servlet-mapping>
 
    <servlet>
 <servlet-name>ClientServlet</servlet-name>
 <servlet-class>sn.lamp.servlet.ClientServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ClientServlet</servlet-name>
 <url-pattern>/client</url-pattern>
 </servlet-mapping>
 
   <servlet>
 <servlet-name>AddMenuServlet</servlet-name>
 <servlet-class>sn.lamp.servlet.AddMenuServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>AddMenuServlet</servlet-name>
 <url-pattern>/addmenu</url-pattern>
 </servlet-mapping>
 
    <servlet>
 <servlet-name>UpdatServlet</servlet-name>
 <servlet-class>sn.lamp.servlet.UpdatServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>UpdatServlet</servlet-name>
 <url-pattern>/update</url-pattern>
 </servlet-mapping>
     <servlet>
 <servlet-name>SupprimerServlet</servlet-name>
 <servlet-class>sn.lamp.servlet.SupprimerServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>SupprimerServlet</servlet-name>
 <url-pattern>/supprimer</url-pattern>
 </servlet-mapping>
     <servlet>
 <servlet-name>confirmationServlet</servlet-name>
 <servlet-class>sn.lamp.servlet.confirmationServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>confirmationServlet</servlet-name>
 <url-pattern>/confirm</url-pattern>
 </servlet-mapping>
      <servlet>
 <servlet-name>commandeServlet</servlet-name>
 <servlet-class>sn.lamp.servlet.commandeServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>commandeServlet</servlet-name>
 <url-pattern>/commande</url-pattern>
 </servlet-mapping>
 
       <servlet>
 <servlet-name>ListeCommande</servlet-name>
 <servlet-class>sn.lamp.servlet.ListeCommande</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ListeCommande</servlet-name>
 <url-pattern>/listecommande</url-pattern>
 </servlet-mapping>
 <filter>
 <filter-name>ClientFilter</filter-name>
 <filter-class>sn.lamp.filter.ClientFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>ClientFilter</filter-name>
  <url-pattern>/client/*</url-pattern>
 </filter-mapping>
 <filter>
 <filter-name>AdminFilter</filter-name>
 <filter-class>sn.lamp.filter.AdminFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <url-pattern>/admin/*</url-pattern>
 </filter-mapping>
</web-app>